body {background-color: coral;}
thead{
    background-color:  darkgray;
}
tbody  tr:nth-child(odd) {
    background-color: #ccc
}
tbody tr:nth-child(even) {
    background-color: white;
}
table, th, td {

    border: 2px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 50%;
}